@import '~bootstrap/scss/bootstrap';
html {
  font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
}
body {
  margin: 0;
}
h1,
h2 {
  font-family: 'Cormorant Garamond';
  font-weight: bolder;
  font-size: 2.5rem;
}
h3,
h4 {
  font-family: 'Cormorant Garamond';
  font-weight: bolder;
  font-size: calc(18px + (28 - 18) * ((100vw - 300px) / (1600 - 300)));
}
h5 {
  font-family: 'Catamaran';
}
p {
  font-family: 'Catamaran';
  font-weight: lighter;
}
.all-wrapper {
  text-align: center;
  font-family: 'Catamaran', 'Cormorant Garamond', sans-serif;
  width: 100vw;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  padding-top: 72px;
}
.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 73px;
  background-color: #ebfdff;
  z-index: 2;
  .navbar {
    padding: 0 !important;
    height: 73px;
  }
}
.bg-light {
  background-color: #ebfdff !important;
}
.navbar-brand {
  @media (min-width: 1093px) {
    margin-right: 6vw !important;
    text-align: left;
    width: 22%;
  }
  @media (max-width: 400px) {
    margin: 0 !important;
    .nav-link {
      padding: 0.5rem;
    }
  }
  @media (max-width: 321px) {
    margin: 0 !important;
    a .nav-link {
      padding: 0.2rem;
    }
  }
  font-size: calc(28px + (36 - 28) * ((100vw - 300px) / (1900 - 300)));
}
.navbar-toggler {
  margin-right: 1rem;
}
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}
.nav-link {
  @media (min-width: 1024px) {
    margin-left: 1rem;
    font-size: 1.3rem;
  }
  font-family: 'Cormorant Garamond';
  font-weight: 500;
  font-style: italic;
  margin-left: 0;
  padding-top: 0.4rem !important;
  padding-bottom: 0 !important;
}
.navbar-links {
  @media (min-width: 992px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
  }
  background-color: rgb(235, 253, 255);
}
.--education {
  margin: 0 calc(53px + 172 * (50vw - 300px) / 1600);
  @media (max-width: 1090px) {
    margin: 0 calc(28px + (100 - 28) * ((100vw - 300px) / (1900 - 300)));
  }
}
.navbar-img {
  @media (min-width: 992px) {
    position: absolute;
    right: 0;
    top: 14px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
    width: fit-content;
    background-color: rgb(235, 253, 255);
  }
  @media (min-width: 1860px) {
    top: 6px;
  }
  img {
    @media (min-width: 992px) {
    }
    height: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
    width: auto;
    align-self: center;
  }
  background-color: rgb(235, 253, 255);
}
.content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.pictureContainer {
  @media (min-width: 1093px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 38%;
    height: 100%;
    min-height: 0;
  }
  width: 100%;
  position: relative;
  height: auto;
  min-height: 100vh;
  background-image: url('./../images/profilePic.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .nameContainer {
    position: absolute;
    top: 0;
    right: 18px;
    padding: 0;

    h1 {
      padding-top: 4rem;
      padding-bottom: 0.7rem;
      margin: 0;
      text-shadow: 0px 0px 11px white;
    }
    h4 {
      font-weight: 500;
      margin: 0;
      text-shadow: 0px 0px 5px white;
    }
  }
}
.aboutContainer {
  background-color: rgb(125, 194, 194);
  box-sizing: border-box;
  background-image: url('../images/aboutContainerPic.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media (min-width: 1093px) {
    height: 100%;
    width: 62%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .aboutContainerContentWrapper {
    position: relative;
    @media (min-width: 1093px) {
      padding-top: 73px;
      width: 100%;
      height: 100%;
    }
    h1 {
      margin: 0;
      font-weight: 500;
      @media (min-width: 1093px) {
        margin-top: 0.7vw;
      }
      @media (min-width: 1980px) {
        margin-top: 2vw;
      }
    }
    .personalProfile {
      box-sizing: border-box;
      padding: 25px 0;
      text-align: center;
      @media (min-width: 1093px) {
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
        z-index: 1;
        padding: 35px 0;
      }
    }
    .profileTextWrapper {
      @media (min-width: 1093px) {
        overflow-y: auto;
      }
      position: relative;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
    .profileText {
      @media (min-width: 1093px) {
        position: absolute;
        top: 4%;
        // padding-right: 10vw;
        // padding-left: 10vw;
        padding: 0 calc(18px + (120 - 18) * ((100vw - 300px) / (1600 - 300)));
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
      }
      position: relative;
      box-sizing: border-box;
      padding: 0 30px 9px 30px;

      > div {
        margin-top: 2rem;
      }
      > div:first-child {
        margin-top: 0;
      }
      p {
        padding: 0.5rem 1rem;
        width: fit-content;
        text-align: left;
        background-color: rgba(255, 255, 255, 0.51);
        border-radius: 35px 0 35px 0;
        box-shadow: 5px 5px 5px 2px rgba(89, 158, 152, 0.62);
        font-weight: 300;
        margin-top: 0.5rem;
        @media (min-width: 1093px) {
          padding: 1.5rem 1rem;
        }
      }
      h4 {
        margin: 0;
        font-weight: 500;
        margin-top: calc(18px + (28 - 18) * ((100vw - 300px) / (1600 - 300)));
        @media (min-width: 1980px) {
          margin-top: 10%;
        }
      }
    }
  }
}
.projectsContainer {
  background-color: rgb(125, 194, 194);
  box-sizing: border-box;
  background-image: url('../images/projectsBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media (min-width: 1093px) {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .projectsContainerContentWrapper {
    position: relative;
    @media (min-width: 1093px) {
      padding-top: 118px;
      width: 100%;
      height: 100%;
    }
    h1 {
      margin: 0;
    }
    .projectsTitle {
      box-sizing: border-box;
      padding: 25px 0;
      text-align: center;
      font-weight: 500;
      @media (min-width: 1093px) {
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
        z-index: 1;
        padding: 35px 0;
      }
    }
    .projectsWrapper {
      @media (min-width: 1093px) {
        overflow-y: auto;
      }
      position: relative;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
    .projects {
      @media (min-width: 1093px) {
        position: absolute;
        top: 0;
        padding-right: 25%;
        padding-left: 25%;
      }
      position: relative;
      box-sizing: border-box;
      padding: 0 30px 9px 30px;
      .card {
        background-color: rgba(239, 255, 254, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.03);
      }
      a {
        font-family: 'Cormorant Garamond';
        font-weight: 500;
        font-size: 1.3rem;
        color: rgb(56, 152, 152);
        text-decoration: none;
        background-color: transparent;

        img {
          max-width: 25px;
          max-height: 25px;
          margin-left: 10px;
        }
      }
      a:hover {
        color: rgb(125, 194, 194);
      }
      .card-title {
        color: rgb(68, 142, 142);
        @media (min-width: 601px) {
          font-size: 1.9rem;
        }
      }
      p.card-text {
        @media (min-width: 601px) {
          font-size: 1.2rem;
        }
      }
      iframe {
        @media (min-width: 768px) {
          width: 560px;
          height: 315px;
        }

        @media (max-width: 400px) {
          width: 260px;
          height: 215px;
        }
      }
    }
  }
}
@media (min-width: 1093px) {
  .portfolioContainer {
    width: 17%;
  }
}
.educationWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(125, 194, 194);
  background-image: url('../images/educationBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.educationTitle {
  position: absolute;
  top: 0;
  left: 0;
  height: 4.5vw;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(133, 227, 221, 0.87);
  display: grid;
  align-items: center;
  justify-items: center;
  z-index: 1;
  h1 {
    // font-size: 2vw;
    margin: 0;
    font-weight: 500;
    @media only screen and (max-width: 600px) {
      font-size: 1.5rem !important;
    }
  }
  @media (max-width: 1280px) and (min-width: 601px) {
    height: 8.5vw;
  }

  @media only screen and (max-width: 600px) {
    height: 16.5vw;
    font-size: 1.5rem !important;
  }
}
.educationContent {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-top: calc(4.5vw + 2rem);
  h3 {
    font-family: Catamaran;
    font-weight: 500;
    font-size: 1.5rem;
  }
  h4 {
    font-family: Catamaran;
    font-weight: 300;
  }
  .vertical-timeline-element-content p {
    font-family: Catamaran;
    font-weight: 400;
  }

  span {
    font-size: 1.5rem;
  }
}
.vertical-timeline--two-columns
  .vertical-timeline-element-content
  .vertical-timeline-element-date {
  font-family: Cormorant Garamond;
  font-weight: bold;
  font-size: 1.3rem !important;
  opacity: 1 !important;
  padding: 0 !important;
}

.vertical-timeline--two-columns
  .vertical-timeline-element-content
  .vertical-timeline-element-date {
  @media only screen and (min-width: 1170px) {
    width: 22% !important;
    text-align: unset;
  }
}

.textImage {
  width: 100%;
  height: 100%;
  border-radius: 35px;
}
