@import '~bootstrap/scss/bootstrap';
body {
  margin: 0;
}

.all-wrapper {
  text-align: center;
  font-family: 'Catamaran', 'Cormorant Garamond', sans-serif;
  width: 100vw;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  padding-top: 72px;
}

.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 73px;
  background-color: #ebfdff;
  z-index: 1;
  .navbar {
    padding: 0 !important;
    height: 73px;
  }
}

.content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  // background-color: rgb(125, 194, 194);
}

h1,
h2,
h3,
h4 {
  font-family: 'Cormorant Garamond';
  font-weight: bolder;
}

h5 {
  font-family: 'Catamaran';
  font-size: medium;
}

p {
  font-family: 'Catamaran';
  font-weight: lighter;
}

.pictureContainer {
  @media (min-width: 1093px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 38%;
    height: 100%;
    min-height: 0;
  }

  width: 100%;
  position: relative;
  height: auto;
  min-height: 100vh;
  //border: 2px solid red;
  background-image: url('./../images/profilePic.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .nameContainer {
    position: absolute;
    top: 0;
    right: 18px;
    //border: 2px solid purple;
    font-size: 3rem;
    padding: 0;

    h1 {
      padding-top: 4rem;
      padding-bottom: 0.7rem;

      margin: 0;
      font-size: 3rem;
      text-shadow: 0px 0px 11px white;
    }

    h4 {
      font-size: 1.4rem;
      font-weight: 500;
      margin: 0;
      text-shadow: 0px 0px 5px white;
    }
  }
}

.aboutContainer {
  background-color: rgb(125, 194, 194);
  box-sizing: border-box;
  background-image: url('../images/aboutContainerPic.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  //border: 2px solid orange;
  @media (min-width: 1093px) {
    height: 100%;
    width: 62%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .aboutContainerContentWrapper {
    position: relative;

    @media (min-width: 1093px) {
      padding-top: 73px;
      width: 100%;
      height: 100%;
    }
    //border: 2px solid purple;
    h1 {
      margin: 0;
      font-weight: 500;
      @media (min-width: 1093px) {
        font-size: 2.2vw;
        margin-top: 0.7vw;
      }
    }
    .personalProfile {
      box-sizing: border-box;
      padding: 25px 0;
      text-align: center;

      @media (min-width: 1093px) {
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
        z-index: 1;
        padding: 35px 0;
      }
    }

    .profileTextWrapper {
      @media (min-width: 1093px) {
        overflow-y: auto;
      }
      position: relative;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }

    .profileText {
      @media (min-width: 1093px) {
        position: absolute;
        top: 4%;
        padding-right: 10vw;
        padding-left: 10vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
      }
      position: relative;
      box-sizing: border-box;
      padding: 0 30px 9px 30px;

      > div {
        margin-top: 2rem;
      }
      > div:first-child {
        margin-top: 0;
      }
      p {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        width: fit-content;
        text-align: left;
        background-color: rgba(255, 255, 255, 0.51);
        border-radius: 35px 0 35px 0;
        box-shadow: 5px 5px 5px 2px rgba(89, 158, 152, 0.62);
        font-weight: 300;
        margin-top: 0.5rem;
        @media (min-width: 1093px) {
          font-size: 1vw;
          padding: 1.5rem 1rem;
        }
      }
      h4 {
        margin: 0;
        font-size: 1.8rem;
        font-weight: 500;

        @media (min-width: 1093px) {
          font-size: 1.4vw;
          margin-bottom: 2vw;
          margin-top: 2.7vw;
        }
      }
    }
  }
}

.bg-light {
  background-color: #ebfdff !important;
}

.navbar-brand {
  @media (min-width: 1093px) {
    font-size: 1.2vw !important;
    margin-right: 11vw !important;
    width: 22%;
  }

  @media (max-width: 400px) {
    margin: 0 !important;
    .nav-link {
      padding: 0.5rem;
    }
  }

  @media (max-width: 321px) {
    margin: 0 !important;
    a .nav-link {
      padding: 0.2rem;
    }
  }
  font-size: 1.7rem !important;
}

.navbar-toggler {
  margin-right: 1rem;
}
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.nav-link {
  @media (min-width: 1093px) {
    font-size: 1.1vw;
  }
  font-family: 'Cormorant Garamond';
  font-weight: 500;
  font-style: italic;
  font-size: 1.5rem;
  margin-left: 1rem;
  background-color: rgb(235, 253, 255);
}
.navbar-links {
  @media (min-width: 992px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
  }
  background-color: rgb(235, 253, 255);
}

.--mainlink {
  margin-right: 2em;
}

// .nav-item .nav-link .link--external {
//   padding-top: 0 !important;
//   padding-bottom: 0 !important;
// }

.navbar-img {
  @media (min-width: 992px) {
    position: absolute;
    right: 0;
    top: 4px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: fit-content;
    background-color: rgb(235, 253, 255);
  }
  .nav-link {
    padding-top: 0.4rem !important;
    padding-bottom: 0 !important;
  }

  img {
    @media (min-width: 992px) {
      height: 1.4vw;
    }
    height: 6vw;
    width: auto;
    vertical-align: top;
  }
}

// Projects Page

.projectsContainer {
  background-color: rgb(125, 194, 194);
  box-sizing: border-box;
  background-image: url('../images/projectsBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media (min-width: 1093px) {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .projectsContainerContentWrapper {
    position: relative;
    @media (min-width: 1093px) {
      padding-top: 118px;
      width: 100%;
      height: 100%;
    }
    //border: 2px solid purple;
    h1 {
      margin: 0;
    }
    .projectsTitle {
      box-sizing: border-box;
      padding: 25px 0;
      text-align: center;
      @media (min-width: 1093px) {
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
        z-index: 1;
        padding: 35px 0;
      }
    }
    .projectsWrapper {
      @media (min-width: 1093px) {
        overflow-y: auto;
      }
      position: relative;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
    .projects {
      @media (min-width: 1093px) {
        position: absolute;
        top: 0;
        padding-right: 25%;
        padding-left: 25%;
      }
      position: relative;
      box-sizing: border-box;
      padding: 0 30px 9px 30px;
      .card {
        background-color: rgba(239, 255, 254, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.03);
      }
      a {
        font-family: 'Cormorant Garamond';
        font-weight: 500;
        font-size: 1.3rem;
        color: rgb(56, 152, 152);
        text-decoration: none;
        background-color: transparent;
      }
      a:hover {
        color: rgb(125, 194, 194);
      }
      .card-title {
        color: rgb(68, 142, 142);
      }
      iframe {
        @media (min-width: 768px) {
          width: 560px;
          height: 315px;
        }

        @media (max-width: 400px) {
          width: 260px;
          height: 215px;
        }
      }
    }
  }
}
@media (min-width: 1093px) {
  .portfolioContainer {
    width: 17%;
  }
}

.educationWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  //padding-top: 4.5vw;
  background-color: rgb(125, 194, 194);
  background-image: url('../images/educationBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.educationTitle {
  position: absolute;
  top: 0;
  left: 0;
  height: 4.5vw;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(133, 227, 221, 0.87);
  display: grid;
  align-items: center;
  justify-items: center;
  z-index: 1;
  h1 {
    font-size: 2vw;
    margin: 0;
    font-weight: 500;
  }
}

.educationContent {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-top: calc(4.5vw + 2rem);
}

.vertical-timeline-element-content bounce-in {
  background-color: rgba(77, 118, 132, 0.74);
}

.vertical-timeline-element-date {
  color: rgb(44, 57, 62);
  font-size: 3rem !important;
}

.vertical-timeline-element-icon.bounce-in {
  //background: rgb(104, 206, 210);
  background: rgb(142, 227, 222);
}

.vertical-timeline--two-columns
  .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left)
  .vertical-timeline-element-content
  .vertical-timeline-element-date {
  left: 83%;
  top: -46px;
}

.dateright {
  left: 82% !important;
  top: -49px !important;
}

.vertical-timeline .vertical-timeline--animate .vertical-timeline--two-columns {
  overflow-y: auto;
}

.vertical-timeline-element-content p {
  font-family: 'Catamaran';
  font-weight: 300 !important;
  font-size: 1.3rem !important;
  margin: 0 0.1rem;
  line-height: 1.6;

  @media (min-width: 1093px) {
    font-size: 1.5rem !important;
  }
}
.vertical-timeline-element-title {
  font-size: 2rem;
  margin-bottom: 0.6rem !important;
  font-weight: 500 !important;
}

.vertical-timeline-element-content {
  border-radius: 2.25em;
}

.vertical-timeline-element-subtitle {
  margin-top: 1rem !important;
  font-weight: 500 !important;
  font-size: 1.6rem;
}

.timelineEvents {
  padding: 5% 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.textImage {
  margin: 0.5rem;
  margin-right: 1em;
  padding-top: 1rem;
}
